.wrapper {
  block-size: 100vh;
  overflow-y: auto;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

.logo {
  block-size: 50px;
}

.placeholder {
  margin-block-start: 5rem;
  max-inline-size: 400px;
  inline-size: 100%;
  block-size: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-block-start: 1rem;
  max-width: 1000px;
  margin-inline: auto;
}

.message {
  text-align: center;
}

h2 {
  margin-block-start: 3rem;
}

p {
  color: #72849a;
}

.language-switcher button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.language-switcher button.active {
  text-decoration: underline;
  color: #009d75;
}
